/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Universal stuff */
:root {
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;
}

h1,h2 {
    font-family: var(--heading-font);
    font-weight: 500;
}

p,li {
    font-family: var(--paragraph-font);
}

body {
    outline: 5px solid black;
    margin: 20px;
    
}

/* Nav bar */
.navigation {
    padding-top: 10px;
    display: flex;
    flex-direction: row;

    width: 100%;
}

.name {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 20px;

    gap: 10px;
    font-size: 10px;

}

.name img{
    width: 45px;
    height: auto;

    border-radius: 10px;

}

.links {
    align-content: center
}

.navigation ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;

    gap: 10px;


    padding-right: 30px;
    list-style: none;
}

/* Hero */
.hero {
    padding-block: 7em;
    justify-items: center;

    font-size: 25px;
}

/* Information section */
.information {
    outline: 3px solid black;
    display: flex;
    flex-direction: row;
}


.information section {
    align-content: center;
}

.projects {
    display: flex;
    flex-direction: column;
    outline: inherit;
    width: 30%;
}

.projects h2{
    padding-left: 10px;
    justify-self: center;
}

.projects ul {
    list-style: none;
    width: 100%;
    padding: 0px;
    
}

.projects li + li{
    border-top: 3px solid black;
}

.projects p{
    padding-inline: 10px;
}

.experiences{
    padding: 0px;
}

.experiences__work {
    
border-bottom: 3px solid black;

}

.experiences div {
    padding: 15px;
}

.education {
    outline: inherit;
    padding: 15px;

}

/* Reviews */
.reviews{
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
    padding-top: 30px;
    padding-bottom: 6em;
    
}

.review-block-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

}


.review-block {
    padding: 0.6em;
    border: 3px black solid;
    border-radius: 15px;
}

.review-content {
    font-weight: 500;
    font-size: 1em;
}

.professor {
    opacity: 50%;
}