/* Nav bar */
.navigation {
    padding-top: 10px;
    display: flex;
    flex-direction: row;

    width: 100%;
}

@media (max-width: 600px) {

    .navigation {
        display: flex;
        flex-direction: column;
    }

}

.name {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 20px;

    gap: 10px;
    font-size: 10px;

}

.name img{
    width: 45px;
    height: auto;

    border-radius: 10px;

}

.links {
    align-content: center
}

.navigation ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;

    gap: 10px;


    padding-right: 30px;
    list-style: none;
}